<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>DACA</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--css stuff-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/style.css"></script>
<!-- Leaflet CSS & JS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
crossorigin=""></script>
<!--D3 cdn-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
<script type="text/javascript" src="/static/js/config.js"></script>
<script type="text/javascript" src="/static/js/app.js"></script>
<script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<body>
<!--our navbar-->
<div class="navbar">
  <!-- <a href="index.html">Home</a>
  <option value = "ageChart">Country of Origin</option>
  <a href="mattschart">Age and marital status pie</a>
  <a href="map.html">Map of current DACA recipients</a>
  <a href="sqlite">sqlite</a> -->
  <!-- <button onclick="ageChart()">Age Chart</button> -->
  <form class ="form-inline">
    <div class="form-inline">
      <ul class="list-group" style = "list-style:none" id="filters">
          <li>
            <label for="dropDown" style = "color: white">Make a Selection</label>
            <select id="dropDown" style="color:black"onchange="selection = this.value;">
              <option style="color:black"></option>
              <option value="ageChart">Age Chart</option>
              <option value="genderChart">Gender Chart</option>
              <option value="mapChart">Map</option>
              <option value="originChart">Country of Birth</option>
            </select>
          </li>  
      </ul>
    </div>
    <button  id="filter-btn" type="submit" class="btn btn-default">Submit</button>
  </form>
</div> 
 <!--The div where we will inject our charts -->
 <div style = "height:370; width:100% " class="watermarked">
    <img src="http://www.fairus.org/sites/default/files/styles/hero_basic_page_fullsize/public/images/iStock-490964222.jpg?h=afdff3b2&itok=WI4ViyV5" style="height:370; width:100%">
  </div>
  <div style = "height:370; width: 100%" align="center">
  <div class="box-text" align=0 center, center>
    <p>Deferred Action for Childhood Arrivals (DACA) is a kind of administrative relief from deportation. Our visualizations explore aspects of the current data for the program for location, country of origin, ages, and gender, as reflected in a SQLite database.</p>
  </div></div>
 <div id="display" style="height: 800px; width: 100%; background-color: white; align-items: center"></div>></div>
 <!-- <div class="row"> -->
  <!-- <div class="col-md-10">
    <div id="chartContainer" style="height: 800px; width: 100%; background-color: white"></div>
  </div> -->
<!-- </div> -->

 <!-- API key -->
 <script type="text/javascript" src="/static/js/app.js"></script>
 <!-- Our JS -->
 <script type="text/javascript" src="/static/js/config.js"></script>
</body>
</html>